build/.ninja_deps
build/.ninja_log
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/rubikg.sln
build/rubikg.vcxproj
build/rubikg.vcxproj.filters
build/rules.ninja
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/CLi/cli.vcxproj
build/CLi/cli.vcxproj.filters
build/CLi/cmake_install.cmake
build/CLi/CMakeFiles/generate.stamp
build/CLi/CMakeFiles/generate.stamp.depend
build/CLi/CMakeFiles/cli.dir/source/_intro_screen.cpp.obj
build/CLi/CMakeFiles/cli.dir/source/cli.cpp.obj
build/CLi/CMakeFiles/cli.dir/source/def_colors.cpp.obj
build/CLi/CMakeFiles/cli.dir/source/repl_autocomp.cpp.obj
build/CLi/CMakeFiles/cli.dir/source/repl.cpp.obj
build/CLi/Release/cli.lib
build/CLi/cli.dir/Release/_intro_screen.obj
build/CLi/cli.dir/Release/cli.Build.CppClean.log
build/CLi/cli.dir/Release/cli.obj
build/CLi/cli.dir/Release/def_colors.obj
build/CLi/cli.dir/Release/repl_autocomp.obj
build/CLi/cli.dir/Release/repl.obj
build/CLi/cli.dir/Release/cli.tlog/CL.command.1.tlog
build/CLi/cli.dir/Release/cli.tlog/CL.read.1.tlog
build/CLi/cli.dir/Release/cli.tlog/CL.write.1.tlog
build/CLi/cli.dir/Release/cli.tlog/cli.lastbuildstate
build/CLi/cli.dir/Release/cli.tlog/custombuild.command.1.tlog
build/CLi/cli.dir/Release/cli.tlog/custombuild.read.1.tlog
build/CLi/cli.dir/Release/cli.tlog/custombuild.write.1.tlog
build/CLi/cli.dir/Release/cli.tlog/Lib-link.read.1.tlog
build/CLi/cli.dir/Release/cli.tlog/Lib-link.write.1.tlog
build/CLi/cli.dir/Release/cli.tlog/Lib.command.1.tlog
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.c
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.13.4/CMakeCCompiler.cmake
build/CMakeFiles/3.13.4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.13.4/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.13.4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.13.4/CMakeRCCompiler.cmake
build/CMakeFiles/3.13.4/CMakeSystem.cmake
build/CMakeFiles/3.13.4/VCTargetsPath.txt
build/CMakeFiles/3.13.4/VCTargetsPath.vcxproj
build/CMakeFiles/3.13.4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.13.4/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.13.4/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.13.4/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.13.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.13.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.13.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.13.4/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.13.4/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.13.4/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.13.4/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.13.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.13.4/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.13.4/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.13.4/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.13.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.13.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.13.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.13.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.13.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.13.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.13.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.13.4/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/b09de1dc57ce2d9ae04aaa6f0ece5158/generate.stamp.rule
build/Release/rubikg.exe
build/core/cmake_install.cmake
build/core/core.vcxproj
build/core/core.vcxproj.filters
build/core/CMakeFiles/generate.stamp
build/core/CMakeFiles/generate.stamp.depend
build/core/Release/core.lib
build/core/core.dir/Release/core.Build.CppClean.log
build/core/core.dir/Release/oriented_cube.obj
build/core/core.dir/Release/simplex.obj
build/core/core.dir/Release/core.tlog/CL.command.1.tlog
build/core/core.dir/Release/core.tlog/CL.read.1.tlog
build/core/core.dir/Release/core.tlog/CL.write.1.tlog
build/core/core.dir/Release/core.tlog/core.lastbuildstate
build/core/core.dir/Release/core.tlog/custombuild.command.1.tlog
build/core/core.dir/Release/core.tlog/custombuild.read.1.tlog
build/core/core.dir/Release/core.tlog/custombuild.write.1.tlog
build/core/core.dir/Release/core.tlog/Lib-link.read.1.tlog
build/core/core.dir/Release/core.tlog/Lib-link.write.1.tlog
build/core/core.dir/Release/core.tlog/Lib.command.1.tlog
build/engine/cmake_install.cmake
build/engine/CMakeFiles/generate.stamp
build/engine/CMakeFiles/generate.stamp.depend
build/rubikg.dir/Release/main.obj
build/rubikg.dir/Release/rubikg.Build.CppClean.log
build/rubikg.dir/Release/rubikg.tlog/CL.command.1.tlog
build/rubikg.dir/Release/rubikg.tlog/CL.read.1.tlog
build/rubikg.dir/Release/rubikg.tlog/CL.write.1.tlog
build/rubikg.dir/Release/rubikg.tlog/custombuild.command.1.tlog
build/rubikg.dir/Release/rubikg.tlog/custombuild.read.1.tlog
build/rubikg.dir/Release/rubikg.tlog/custombuild.write.1.tlog
build/rubikg.dir/Release/rubikg.tlog/link.command.1.tlog
build/rubikg.dir/Release/rubikg.tlog/link.read.1.tlog
build/rubikg.dir/Release/rubikg.tlog/link.write.1.tlog
build/rubikg.dir/Release/rubikg.tlog/rubikg.lastbuildstate
build/test/cmake_install.cmake
build/test/test.vcxproj
build/test/test.vcxproj.filters
build/test/CMakeFiles/generate.stamp
build/test/CMakeFiles/generate.stamp.depend
build/test/CMakeFiles/test.dir/common/test_common.cpp.obj
build/test/CMakeFiles/test.dir/common/test_launchers.cpp.obj
build/test/Release/test.lib
build/test/test.dir/Release/test_common.obj
build/test/test.dir/Release/test_launchers.obj
build/test/test.dir/Release/test.Build.CppClean.log
build/test/test.dir/Release/u_cframework.obj
build/test/test.dir/Release/u_engine.obj
build/test/test.dir/Release/u_simplex.obj
build/test/test.dir/Release/test.tlog/CL.command.1.tlog
build/test/test.dir/Release/test.tlog/CL.read.1.tlog
build/test/test.dir/Release/test.tlog/CL.write.1.tlog
build/test/test.dir/Release/test.tlog/custombuild.command.1.tlog
build/test/test.dir/Release/test.tlog/custombuild.read.1.tlog
build/test/test.dir/Release/test.tlog/custombuild.write.1.tlog
build/test/test.dir/Release/test.tlog/Lib-link.read.1.tlog
build/test/test.dir/Release/test.tlog/Lib-link.write.1.tlog
build/test/test.dir/Release/test.tlog/Lib.command.1.tlog
build/test/test.dir/Release/test.tlog/test.lastbuildstate
build/win32/Release/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/win32/Release/ALL_BUILD/ALL_BUILD.tlog/custombuild.command.1.tlog
build/win32/Release/ALL_BUILD/ALL_BUILD.tlog/custombuild.read.1.tlog
build/win32/Release/ALL_BUILD/ALL_BUILD.tlog/custombuild.write.1.tlog
build/win32/Release/ZERO_CHECK/ZERO_CHECK.Build.CppClean.log
build/win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
build/win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
build/win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
build/win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
.vscode/c_cpp_properties.json
.vscode/launch.json
